Facebook-auto-replay-by-n8n/Auto Facebook Comment Reply.json
{
  "name": "Auto Facebook Comment Reply",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -96,
        176
      ],
      "id": "0b83a317-d06a-4f9e-82f2-2afe75c7bc90",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "comment",
        "pageId": "REPLACE_WITH_YOUR_PAGE_ID",
        "commentPostId": "={{ $json.id }}"
      },
      "type": "@umairabubakkar/n8n-nodes-private-fb.facebookPagePublisher",
      "typeVersion": 1,
      "position": [
        576,
        176
      ],
      "id": "5bd1b8b8-037c-452d-a9ce-00405857350e",
      "name": "Get comments",
      "credentials": {
        "facebookOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Facebook account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "comments",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        784,
        176
      ],
      "id": "507dd3bd-f112-4627-8044-55cf0b4d1180",
      "name": "Split Out"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "57697b22-4434-4b2e-8ae5-84673a52a471",
              "leftValue": "={{ $json.row_number ? false : true }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1840,
        32
      ],
      "id": "1a3a0f51-bac7-4160-bb76-229eadfa483d",
      "name": "If1",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "REPLACE_WITH_YOUR_SPREADSHEET_ID",
          "mode": "list",
          "cachedResultName": "Your Spreadsheet Name",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/REPLACE_WITH_YOUR_SPREADSHEET_ID/edit"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/REPLACE_WITH_YOUR_SPREADSHEET_ID/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "comment_id",
              "lookupValue": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1408,
        176
      ],
      "id": "a9ca394d-e04d-4d7c-a6bb-2f915a1650e3",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": true,
      "executeOnce": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "google sheet"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "comment_id",
        "joinMode": "keepEverything",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1600,
        32
      ],
      "id": "4c10a76b-f779-4414-ba01-9bf0f20ead53",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aa8c5199-4d9d-4cf1-a0d8-0848420806a6",
              "name": "comment_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "6e2780b3-f070-4dac-8ddb-dd8bb2482c0d",
              "name": "message",
              "value": "={{ $json.message }}",
              "type": "string"
            },
            {
              "id": "c70b18dc-7627-43ca-9413-b16aed73e459",
              "name": "postId",
              "value": "={{ $('Get comments').item.json.postId }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        944,
        32
      ],
      "id": "fa29a314-bb79-478b-900b-6ff010578579",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "=\"أنت مدير صفحة فيسبوك ودود ومحترف. قم بالرد على تعليقات المستخدمين بلهجة عامية بسيطة ومحترمة .\n اجعل الرد مختصراً ولا تزد عن جملتين.\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2384,
        0
      ],
      "id": "a2ba75bb-0860-4d13-a90f-aed9caad18c1",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        2384,
        192
      ],
      "id": "901cfa40-0dd5-4f70-9fa4-cc59f043b0ab",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "resource": "comment",
        "operation": "replyToComment",
        "pageId": "REPLACE_WITH_YOUR_PAGE_ID",
        "commentId": "={{ $('If1').item.json.id }}",
        "commentMessage": "={{ $json.output }}"
      },
      "type": "@umairabubakkar/n8n-nodes-private-fb.facebookPagePublisher",
      "typeVersion": 1,
      "position": [
        2736,
        0
      ],
      "id": "c48edb1a-2781-4d00-86b2-2f08733a1d6f",
      "name": "Reply to a comment",
      "credentials": {
        "facebookOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Facebook account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "REPLACE_WITH_YOUR_SPREADSHEET_ID",
          "mode": "list",
          "cachedResultName": "Your Spreadsheet Name",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/REPLACE_WITH_YOUR_SPREADSHEET_ID/edit"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/REPLACE_WITH_YOUR_SPREADSHEET_ID/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "comment_id": "={{ $json.parentCommentId }}",
            "post_id": "={{ $('If1').item.json.postId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "comment_id",
              "displayName": "comment_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "post_id",
              "displayName": "post_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2944,
        0
      ],
      "id": "d179804c-6556-48a9-838d-0f43c2acf282",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "google sheet"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b0cfb451-b1a0-4507-ba8c-074eb7b9d980",
              "leftValue": "={{ $json.message }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        2048,
        -64
      ],
      "id": "288077e7-8c68-4ee3-a0c9-9936be9b31bf",
      "name": "Filter"
    },
    {
      "parameters": {
        "operation": "getPosts",
        "pageId": "REPLACE_WITH_YOUR_PAGE_ID",
        "limit": 5
      },
      "type": "@umairabubakkar/n8n-nodes-private-fb.facebookPagePublisher",
      "typeVersion": 1,
      "position": [
        112,
        176
      ],
      "id": "6f855a62-36ca-4d0c-8b94-418729669180",
      "name": "Get posts",
      "credentials": {
        "facebookOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Facebook account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "posts",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        320,
        176
      ],
      "id": "e3530c9e-457c-400f-9baf-f21629f96678",
      "name": "Split Out1"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get comments": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Reply to a comment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply to a comment": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get posts": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Get comments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Aden",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "REPLACE_WITH_YOUR_VERSION_ID",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "REPLACE_WITH_YOUR_INSTANCE_ID"
  },
  "id": "REPLACE_WITH_YOUR_WORKFLOW_ID",
  "tags": []
}